# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# LaTeX temporary files
.pdf
*.aux
*.log
*.toc

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Log created by Adobe Reader
C:\\nppdf32Log\\debuglog.txt

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace